.menu {
  border-radius: var(--borderRadiusBig);
  padding: var(--space_big);
  z-index: 1;
  height: 500px;
  width: 500px;
  max-width: calc(100% - 2 * var(--spaceToScreenEdges));
  max-height: calc(
    100vh - var(--heightNavbarTotal) - 2 * var(--spaceToScreenEdges)
  );

  animation: show var(--speed_normal) backwards;
  transition: opacity var(--speed_quick);
  &.floatingDisappearing {
    opacity: 0 !important;
  }
}

// body[data-device="desktop"] {

// }

// body[data-device="phone"] {

// }

.menu,
.arrow,
.arrow .arrowBeam {
  background: var(--colorBG);
  z-index: 40;
}

.menu,
.arrow {
  box-shadow: var(--neumorphicShadowShown);
}

.arrow {
  position: absolute;

  .arrowBeam {
    $offset: 10px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: calc(100% + $offset + $offset / 1.3);
    top: -($offset / 1.3);
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
