.menu {
  border-radius: var(--borderRadiusBig);
  padding: var(--space_big);
  z-index: 1;
  height: 500px;
  width: 500px;
  max-width: calc(100% - 2 * var(--spaceToScreenEdges));
  max-height: calc(
    100vh - var(--heightNavbarTotal) - 2 * var(--spaceToScreenEdges)
  );
}

body[data-device="desktop"] {
  .menu {
    &.menuRightRadiusDisabled {
      border-top-right-radius: 0;
    }
  }
}

body[data-device="phone"] {
  .menu {
    &.menuRightRadiusDisabled {
      border-bottom-right-radius: 0;
    }
  }
}

.menu,
.arrow,
.arrow .arrowBeam {
  background: var(--colorBG);
  z-index: 40;
}

.menu,
.arrow {
  box-shadow: var(--neumorphicShadowShown);
}

.arrow {
  position: absolute;

  .arrowBeam {
    $offset: 10px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: calc(100% + $offset + $offset / 1.3);
    top: -($offset / 1.3);
  }
}
