.menu {
  border-radius: var(--borderRadiusBig);
  padding: var(--space_big);
  z-index: 1;
  height: 500px;
  width: 500px;
  max-width: calc(100% - 2 * var(--spaceToScreenEdges));
  max-height: calc(
    100vh - var(--heightNavbarTotal) - 2 * var(--spaceToScreenEdges)
  );

  animation: show var(--speed_normal) backwards;
  transition: opacity var(--speed_normal);
  &.floatingDisappearing {
    opacity: 0 !important;
  }
}

// body[data-device="desktop"] {

// }

// body[data-device="phone"] {

// }

.menu,
.arrow,
.arrow .arrowBeam::after {
  background: var(--colorBG);
  z-index: 40;
}

.menu,
.arrow .arrowBeam::after {
  box-shadow: var(--neumorphicShadowShown);
}

.arrow {
  position: absolute;
  // background: red;

  .arrowBeam {
    // background: red;
    $offset: 5px;
    overflow: hidden;
    position: absolute;
    left: -$offset;
    width: calc(100% + 2 * $offset);
    height: 100%;
    &::after {
      content: "";
      position: absolute;
      left: $offset;
      width: calc(100% - 2 * $offset);
      height: 100%;
    }
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
