// VK

html {
  --steel_gray_10: #fafbfc;
  --steel_gray_20: #f7f8fa;
  --steel_gray_40: #f0f2f5;
  --steel_gray_60: #edeef0;
  --steel_gray_80: #e7e8ec;
  --steel_gray_100: #dce1e6;

  --steel_gray_120: #d3d9de;
  --steel_gray_120: #c9cfd3;

  --steel_gray_140: #c5d0db;
  --steel_gray_140: #c4cad1;

  --steel_gray_200: #aeb7c2;

  --globalFieldNeutralBG: #f0f1f3;
  --globalFieldNeutralBG: #f6f7fb;
  --globalFieldNeutralBG: #f4f5f8;
}
