@import "styles/includes/variablesSCSS/sizes.scss";

.App_wrapper {
  min-height: 200vh;
}

body[data-device="desktop"] {
  .App_wrapper {
    padding: var(--spaceToScreenEdges);
    padding-top: calc(var(--heightNavbarTotal) + var(--spaceToScreenEdges));
  }
}

body[data-device="phone"] {
  .App_wrapper {
    padding: var(--spaceToScreenEdges);
    padding-bottom: calc(var(--heightNavbarTotal) + var(--spaceToScreenEdges));
  }
}

.block {
  box-shadow: var(--smallShadowOutside);
  margin: 40px;
  border-radius: var(--borderRadiusBig);
  max-width: var(--widthNavbarMax);
  margin: auto;
  & > * {
    padding: var(--spacePaddingBlock);
  }
}

@media (max-width: #{$widthNavbarMax + 300px}) {
  .block {
    max-width: unset;
  }
}
