html {
  body,
  body[data-device="desktop"] {
    --speed_veryQuick: 40ms; // on small objects click effects
    --speed_quick: 130ms;
    --speed_normal: 200ms;
    --speed_slow: 300ms; // on small objects hover effects
    --speed_verySlow: 500ms;
    --speed_slowest: 1000ms; // modal mask
  }

  body[data-device="phone"] {
    --speed_veryQuick: 31ms;
    --speed_quick: 70ms;
    --speed_normal: 100ms;
    --speed_slow: 200ms;
    --speed_verySlow: 400ms;
    --speed_slowest: 800ms;
  }
}
