@import "styles/includes/common/elements.scss";

.ANavbarSearchInputTippy_wrapper {
  // transform: translateX(-5px);
  z-index: 3;
  display: flex;
  flex-direction: column;
  transition: inherit;

  animation: show var(--speed_normal);

  @include touchActionNone;
  & > * {
    @include touchActionAll;
  }
  &.disappear {
    opacity: 0;
  }
}

.ANavbarSearchInputTippy_beamWrapper {
  // position: relative;
  // background-color: rgb(255, 164, 60);
  // background-color: transparent;
  background-color: var(--colorBG);
  height: calc(var(--space_normal) + var(--spaceToScreenEdges));
  z-index: 2;

  // ::after {
  //   content: '';
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  // }
}

.ANavbarSearchInputTippy_beamCorners {
  position: absolute;
  left: 0;
  bottom: 0;
  width: var(--space_normal);
  height: var(--space_normal);
  // background-color: red;
  overflow: hidden;
}

.ANavbarSearchInputTippy_beamRightCorner {
  left: unset;
  right: 0;
}

.ANavbarSearchInputTippy_beamCornersCircle {
  position: absolute;
  background: transparent;
  left: calc(-1 * var(--space_normal));
  top: calc(-1 * var(--space_normal));
  width: calc(2 * var(--space_normal));
  height: calc(2 * var(--space_normal));
  border-radius: 50%;
  box-shadow: 2px 2px 4px var(--colorShadowLight) inset;
  z-index: 1;
}

.ANavbarSearchInputTippy_beamRightCornerCircle {
  left: unset;
  right: calc(-1 * var(--space_normal));
  box-shadow: -2px -2px 8px var(--colorShadowLight) inset,
    2px 2px 4px var(--colorShadowDark) inset;
}

.ANavbarSearchInputTippy_beamContainer {
  position: relative;
  // background-color: rgba(127, 255, 212, 0.315);
  width: calc(100% + var(--space_normal) * 2);
  margin-left: calc(-1 * var(--space_normal));
  height: 100%;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    height: calc(100% + var(--space_normal));
    margin-left: var(--space_normal);
    box-shadow: var(--neumorphicShadowShown);

    opacity: 0.7;
    width: calc(100% - var(--space_normal) * 2 + 0.3px);
    top: calc(-1 * var(--space_normal));
    left: 0;
  }
}

.ANavbarSearchInputTippy_beamCornersSvg {
  fill: var(--colorBG) !important;
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(2 * var(--space_normal));
  height: calc(2 * var(--space_normal));
  transform: rotate(180deg);
  z-index: 10;
}

.ANavbarSearchInputTippy_beamRightCornerSvg {
  transform: rotate(270deg);
  z-index: 20;
}

.ANavbarSearchInputTippy_container {
  box-shadow: var(--neumorphicShadowShown);
  padding: var(--space_normal);
  background-color: var(--colorBG);
  // background-color: var(--);
  border-radius: var(--borderRadiusMedium);
  z-index: 1;
}

body[data-device="desktop"] {
  .hideLeftCorner {
    .ANavbarSearchInputTippy_container {
      border-top-left-radius: 0 !important;
    }
  }
  .hideRightCorner {
    .ANavbarSearchInputTippy_container {
      border-top-right-radius: 0 !important;
    }
  }
}

body[data-device="phone"] {
  .hideLeftCorner {
    .ANavbarSearchInputTippy_container {
      border-bottom-left-radius: 0 !important;
    }
  }
  .hideRightCorner {
    .ANavbarSearchInputTippy_container {
      border-bottom-right-radius: 0 !important;
    }
  }
}

.hideRightCorner {
  .ANavbarSearchInputTippy_beamContainer {
    height: calc(100% + var(--space_normal)) !important;
    top: calc(-1 * var(--space_normal) / 2) !important;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
