@import "styles/includes/variablesSCSS/sizes.scss";

.ABtn_wrapper {
  // background-color: aquamarine;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--space_normal);
  transition: box-shadow var(--speed_slow), border-radius var(--speed_normal);
}

body[data-device="desktop"] {
  .behaviour_none {
    cursor: default;
  }
  .ABtn_wrapper {
    &.behaviour_simpleMask {
      &:hover {
        background-color: var(--colorHoverMask);
        &:not(:active) {
          .ABtn_container {
            transform: translate3d(0, -1px, 0);
          }
        }
        &:active {
          .ABtn_container {
            transform: translate3d(0, 1px, 0);
          }
        }
      }
    }
    &.behaviour_neumorphicHiddenOnCalm {
      border-radius: var(--borderRadiusMedium);
      box-shadow: var(--neumorphicShadowTransparent);
      &:hover:not(:active),
      &.active {
        box-shadow: var(--neumorphicShadowShown);
      }
      &:active {
        box-shadow: var(--neumorphicShadowActive);
      }
      &:hover:active {
        transition: box-shadow var(--speed_veryQuick),
          border-radius var(--speed_normal);
      }
      // &.floatingOpened {
      //   border-radius: 0;
      // }
    }
  }
}

body[data-device="phone"] {
  .ABtn_wrapper {
    &.behaviour_neumorphicHiddenOnCalm {
      &.active {
        box-shadow: var(--neumorphicShadowShown);
      }
    }
  }
}

body {
  .ABtn_wrapper {
    &.behaviour_neumorphicHiddenOnCalm.arrowKind_beam.floatingOpened {
      &.placement_bottom {
        border-top-left-radius: var(--borderRadiusMedium) !important;
        border-top-right-radius: var(--borderRadiusMedium) !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
      &.placement_top {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-left-radius: var(--borderRadiusMedium) !important;
        border-bottom-right-radius: var(--borderRadiusMedium) !important;
      }
    }
  }
}

.ABtn_container {
  transition: box-shadow var(--speed_quick), border-radius var(--speed_normal);
  overflow: visible;
}

.kind_glow,
.kind_flex,
.kind_outline,
.kind_solid {
  & {
    padding: 0 var(--space_normal);
  }
  &,
  .ABtn_container {
    display: flex;
    align-items: center;
    gap: var(--space_small);
    font-weight: 600;
  }
}
