@import "styles/includes/variablesSCSS/sizes.scss";

.ABtn_wrapper {
  // background-color: aquamarine;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--space_normal);
  transition: var(--speed_slow);
  transition-property: box-shadow;
}

body[data-device="desktop"] {
  .behaviour_none {
    cursor: default;
  }
  .ABtn_wrapper {
    &.behaviour_simpleMask {
      &:hover {
        background-color: var(--colorHoverMask);
        &:not(:active) {
          .ABtn_container {
            transform: translate3d(0, -1px, 0);
          }
        }
        &:active {
          .ABtn_container {
            transform: translate3d(0, 1px, 0);
          }
        }
      }
    }
    &.behaviour_neumorphicHiddenOnCalm {
      border-radius: var(--borderRadiusMedium);
      box-shadow: var(--neumorphicShadowTransparent);
      &:hover:not(:active),
      &.hovered {
        box-shadow: var(--neumorphicShadowShown);
      }
      &:active {
        box-shadow: var(--neumorphicShadowActive);
      }
      &:hover:active {
        transition-timing-function: cubic-bezier(0, 1, 0, 1);
        transition: var(--speed_veryQuick);
      }
      // &.floatingOpened {
      //   border-radius: 0;
      // }
    }
  }
}

.ABtn_container {
  transition: var(--speed_quick);
  z-index: 10;
  overflow: visible;
}

.kind_glow,
.kind_flex,
.kind_outline,
.kind_solid {
  & {
    padding: 0 var(--space_normal);
  }
  &,
  .ABtn_container {
    display: flex;
    align-items: center;
    gap: var(--space_small);
    font-weight: 600;
  }
}
